/* All */

* {
    font-family: "Raleway", Verdana, sans-serif;
    box-sizing: border-box;
}

input,
button {
    border: none;
}

input:focus,
button:focus {
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

p {
    margin: 10px 0px;
}

h1 {
    margin: 10px 0px;
    font-size: 22px;
}

h2 {
    margin: 10px 0px;
    font-size: 22px;
}
h3 {
    font-size: 14px;
    margin: 20px;
    padding-bottom: 10px;
}

/* Header */

header div {
    padding: 5px 10px;
    display: flex;
    align-items: flex-end;
    max-width: 1450px;
    margin: auto;
}

header #logo {
    flex-grow: 1;
}


header a {
    margin: 0px 35px;
}

header>div>nav>ul {
    display: flex;
 
}

header>div>nav .menu-link {
    display: flex;
    align-items: center;
    padding-top: 45px;
}

header>div>nav .menu-link:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
    font-weight: bold;
}



